<div fxAlignSelf="flex-end" class="chat-wrapper">
  <div #history [scrollTop]="history.scrollHeight" class="chat-history">
    <div class="chat-message" *ngFor="let msg of messages$ | async">
      <span class="sender">{{ msg.senderName }}</span>
      <span class="content">{{ msg.message }}</span>
    </div>
  </div>
  <div fxLayout="row" fxFlexAlign="stretch" class="chat-input">
    <button fxFlex="15%" class="small light" (click)="toggleEmojiPicker()">
      <i class="far fa-smile"></i>
    </button>

    <input fxFlex="65%" type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()">

    <button fxFlex="20%" type="button" (click)="sendMessage()">
      <i class="fas fa-bullhorn"></i>
    </button>

    <!-- Emoji picker -->
    <emoji-mart class="emoji-picker"
                *ngIf="showEmojiPicker"
                title="Express your mood"
                (emojiClick)="addEmoji($event)">
    </emoji-mart>
  </div>
</div>
