.login-wrapper {
  width: 50%;
  margin: 5% auto 0 auto;
  padding: 20px;

  background: rgb(255, 253, 251);
}

.email-input {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.actions {
  margin-top: 20px;
  text-align: center;
}

.email-sent-status {
  margin: 0 auto;
  text-align: center;

  .tick-wrapper {
    margin: 0 auto;
    color: #a1e944;
    font-size: 5em;
  }
}
